.nomeCurso{
  padding-left: 2%;
}

.dropboxes {
  width: 45%;
  padding-left: 25px;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dropboxes {
    width: 45%;
    padding-left: 10px;
  }

  .nomeCurso {
    padding-left: 2%;
  }
}



@font-face {
  font-family: 'Rawline';
  src: url('./fonts/rawline-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Rawline', sans-serif;
}
