/* Estilo geral */
body {
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select,
  button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Horários */
  .horario-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .add-button {
    background-color: #28a745;
    margin-top: 10px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .submit-button {
    background-color: #007bff;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: white;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  